</body>
<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <link rel="stylesheet" href="/css/main.css?ver=<%= sApiVer %>">

  <title><%= seo.title %></title>
  <meta name="description" content="<%= seo.description %>" />
  <meta name="keywords" content="<%= seo.keywords %>" />

  <meta property="og:type" content="<%= seo.og.type %>">
  <meta property="og:site_name" content="<%= seo.og.site_name %>">
  <meta property="og:title" content="<%= seo.og.title %>">
  <meta property="og:description" content="<%= seo.og.description %>">
  <meta property="og:url" content="<%= seo.og.url %>">
  <meta property="og:image" content="<%= seo.og.image %>" />
  <meta property="og:image:type" content="<%= seo.og.imageType %>">

  <meta name="yandex-verification" content="0077a8ce117d4326" />
  <meta name="google-site-verification" content="aR9HYHFOx_SZ43obAj_wCs24ZQVcI4nkcrG5RB2MYRM" />

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(54722746, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      webvisor: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/54722746" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->

</head>

<body>

  <div id="msg_modal"></div>
  <div class="card_component">
    <div class="card_menu">
      <div class="columns">
        <div class="column col-8 col-sm-10 phone-col ">

          <a class="phone-col" href="tel:<%= site.phone %>">
            <img src="http://likechoco.ru//img/phone-ico.png" class="phone-ico">&nbsp;
            <span><%= site.phone %></span>
          </a>
        </div>
        <div class="column col-4 col-sm-2 text-right order-col">
          <div id="cart"></div>
        </div>
      </div>
    </div>
  </div>