<% include Partial/head.ejs %>


<div class="main-content content container grid-xl center-container product-page ">

  <ul class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/"><i class="icon icon-arrow-left"></i> На главную</a>
    </li>

    <li class="breadcrumb-item">
      <a><%= product.caption %></a>
    </li>
  </ul>

  <div class="page-logo-top">
    <a href="/"><img src="/img/logo.jpg" /></a>
  </div>


  <div class="columns">
    <div class="product-img column col-6 col-sm-12">
      <div class="card-image">
        <img class="p-img img-1" src="/img/<%= product.img %>" alt="<%= product.caption %>">
        <img class="p-img img-2" src="/img/<%= product.bgImg %>" alt="<%= product.caption %>">
      </div>
    </div>
    <div class="product-container column col-6  col-sm-12">
      <h1><%= product.caption %></h1>
      <div class="price"><%= product.price %> руб.</div>
      <div>
        <div product_img="/img/<%= product.img %>" 
          product_id='<%= product.id %>'
          product_caption='<%= product.caption %>' 
          product_price='<%= product.price %>' 
          class='card-button'></div>
      </div>
      <div class="description">
        <%- product.description %>
      </div>
    </div>
  </div>

</div>

<% include Partial/footer.ejs %>